extends layout.pug

block content
  .wrapper-color
    main
      section.search-page
        .search-page__wrapper
          h1 Поиск
          .search.search-page__form
            form(action='#' method='get')
              label
                input(type='text' name='query' placeholder='Что ищем?' value='#{query}')
              button.search__button.button.button--transparent(type='submit') Найти
            .search__result
              time.search__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
                each article of results
                  a.search__link #{article.title}
